.info {
    text-align: left;
    display: block;
    padding-left: 10px;
    width: 100%;
}

.info p {
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 10px;
}

.sign {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    align-items: flex-end;
}
