.sideBar {
    width: 350px;
}

.tabPane {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.card {
    border: 1px solid #F0F0F0;
    padding: 10px;
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
}

.info {
    text-align: left;
    display: block;
    padding-left: 10px;
    width: 80%;
}

.info p {
    margin-bottom: 0;
    margin-right: 10px;
}

.sign {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    align-items: center;
}
