.searchResult {
    text-align: left;
    padding: 20px;
}

.result {
    display: flex;
}

.result > div {
    margin-right: 100px;
}

.departaments {
    display: flex;
    flex-direction: column;
}

.departaments > *{
    margin-bottom: 10px;
}